.step3 {
    /* display: none; */
    width: 90%;
    /* padding-left:1rem ; */
  }
  .step3 form {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    gap: 1.5rem;
  }
  .box {
    border: 1px solid hsl(231, 11%, 63%);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .description {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-left: 12px;
  }
  .price {
    margin-left: auto;
  }
  .ad-selected {
    border: 1px solid hsl(228, 100%, 84%);
    background-color: hsl(217, 100%, 97%);
  }
  .step3 form input {
    accent-color: hsl(228, 100%, 84%);
    transform: scale(1.3);
    user-select: none;
  }
  .description label {
    color: hsl(213, 96%, 18%);
    font-weight: 700;
    user-select: none;
  }
  .description small {
    color: hsl(231, 11%, 63%);
    font-weight: 700;
  }
  .price {
    color: hsl(228, 100%, 84%);
  }
  